
#page-container {
    position: relative;
    min-height: 100vh;
}

#content-wrap {
    padding-bottom: 2.5rem;    /* Footer height */
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;            /* Footer height */
}

#button1{
    width: 200px;
    height: 40px;

}
#button2{
    width: 300px;
    height: 40px;
}


label.input-custom-file input[type=file] {
    display: none;
}

.mdl-button--file input {
    cursor: pointer;
    height: 100%;
    right: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    width: 300px;
    z-index: 4;
}
.mdl-textfield--file .mdl-textfield__input {
    box-sizing: border-box;
    width: calc(100% - 32px);
}
.mdl-textfield--file .mdl-button--file {
    right: 0;
}

#footer {
    position:absolute;
    bottom:0;
    width:100%;
    height:100px;   /* Height of the footer */
    background:#6cf;
}

.div1 {
     width: 97%;
     height: 100px;
     text-align: center;
    align-content: center;
 }

.center {
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}
.column1 {
    float: left;
    width: 50%;
    margin: auto;
}

.column2 {
    margin-left: 50px;
    margin-right: auto;
    float: left;
    width: 50%;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}
